// Fonts
$font-primary          : "Lato", sans-serif;

$fontSize-main         : 16px;
$fontSize-smaller      : 12px;
$fontSize-small        : 14px;
$fontSize-medium       : 18px;
$fontSize-big          : 22px;
$fontSize-bigger       : 25px;
$fontSize-h1           : 32px;

// Colors
$white                 : #ffffff;
$black                 : #404040;
$grey                  : #dedede;
$lightGrey             : #efefef;
$darkGrey              : #aeaeae;
$blue                  : #648acc;
$green                 : #35d073;
$yellow                : #ffd600;
$red                   : #f74638;

// Miscellaneous
$transitionDuration    : 0.15s;
$borderRadius 		   : 6px;
$xs					   : 320px;
$sm					   : 767px;
$md					   : 1024px;
$lg					   : 1280px;